<main>
    <h1>#<%= page.tag %></h1>
    <ul class="blog-posts">
        <% var posts = page.posts.sort('date', 'desc'); %>
        <% posts.forEach(function(post) { %>
        <li>
            <span class="post-date">
                <i>
                    <time><%= date(post.date, 'YYYY/MM/DD' ) %></time>
                </i>
            </span>
            <div class="post-summary">
                <a href="<%- url_for(post.path) %>"><%- post.title %></a>
            </div>
        </li>
        <% }) %>
    </ul>
</main>
